[build]
  publish = "dist"
  command = "npm run build"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

# Enable Netlify Forms
[[headers]]
  for = "/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"